<md-toolbar color="primary" >
  <span>All Lessons</span>
  <md-toolbar-row>
    <a md-button routerLink="lesson001"><h3>Lesson 1</h3></a>    
  </md-toolbar-row>
  <md-toolbar-row>
    <a md-button routerLink="lesson002"><h3>Lesson 2</h3></a>
  </md-toolbar-row>
  <md-toolbar-row>
    <a md-button routerLink="lesson003"><h3>Lesson 3</h3></a>
  </md-toolbar-row>
  <md-toolbar-row>
    <a md-button routerLink="lesson004"><h3>Lesson 4</h3></a>
  </md-toolbar-row>
  <md-toolbar-row>
    <a href="" class="ref" routerLink="lesson003">Lesson 5</a>
  </md-toolbar-row>
  <md-toolbar-row>
    <a href="" class="ref" routerLink="lesson003">Lesson 6</a>
  </md-toolbar-row>
  <md-toolbar-row>
    <a href="" class="ref" routerLink="lesson003">Lesson 7</a>
  </md-toolbar-row>
</md-toolbar>