 <h2 class="lession-topic">Lesson 1 - 拼音 (Pīnyīn) ตัวอักษรพินอิน (Pinyin Character)</h2>
 <md-card>
  <md-tab-group>
    <md-tab label="Characters">
      <md-grid-list cols="4" rowHeight="100px">
        <md-grid-tile>
                  b 
          <button md-button (click)="PlayB()"><i class="material-icons">volume_up</i></button>
        </md-grid-tile>
        <md-grid-tile>
          p
        </md-grid-tile>
        <md-grid-tile>
          m
        </md-grid-tile>
        <md-grid-tile>
          f
        </md-grid-tile>
        <md-grid-tile>
          d
        </md-grid-tile>
        <md-grid-tile>
          t
        </md-grid-tile>
        <md-grid-tile>
          n
        </md-grid-tile>
        <md-grid-tile>
          l
        </md-grid-tile>
        <md-grid-tile>
          g
        </md-grid-tile>
        <md-grid-tile>
          k
        </md-grid-tile>
        <md-grid-tile>
          h
        </md-grid-tile>
        <md-grid-tile>
          j
        </md-grid-tile>
        <md-grid-tile>
          q
        </md-grid-tile>
        <md-grid-tile>
          x
        </md-grid-tile>
        <md-grid-tile>
          z
        </md-grid-tile>
        <md-grid-tile>
          c
        </md-grid-tile>
        <md-grid-tile>
          s
        </md-grid-tile>
        <md-grid-tile>
          zh
        </md-grid-tile>
        <md-grid-tile>
          ch
        </md-grid-tile>
        <md-grid-tile>
          sh
        </md-grid-tile>
        <md-grid-tile>
          r
        </md-grid-tile>
      </md-grid-list>
    </md-tab>
    <md-tab label="Vowels">
        <md-grid-list cols="4" rowHeight="100px">
          <md-grid-tile>
            a
          </md-grid-tile>
          <md-grid-tile>
            ai
          </md-grid-tile>
          <md-grid-tile>
            an
          </md-grid-tile>
          <md-grid-tile>
            ang
          </md-grid-tile>
          <md-grid-tile>
            ao
          </md-grid-tile>
          <md-grid-tile>
            e
          </md-grid-tile>
          <md-grid-tile>
            ei
          </md-grid-tile>
          <md-grid-tile>
            en
          </md-grid-tile>
          <md-grid-tile>
            eng
          </md-grid-tile>
          <md-grid-tile>
            er
          </md-grid-tile>
          <md-grid-tile>
            i
          </md-grid-tile>
          <md-grid-tile>
            ia
          </md-grid-tile>
          <md-grid-tile>
            ian
          </md-grid-tile>
          <md-grid-tile>
            iang
          </md-grid-tile>
          <md-grid-tile>
            iao
          </md-grid-tile>
          <md-grid-tile>
            ie
          </md-grid-tile>
          <md-grid-tile>
            in
          </md-grid-tile>
          <md-grid-tile>
            ing
          </md-grid-tile>
          <md-grid-tile>
            iong
          </md-grid-tile>
          <md-grid-tile>
            iou
          </md-grid-tile>
          <md-grid-tile>
            o
          </md-grid-tile>
          <md-grid-tile>
            ong
          </md-grid-tile>
          <md-grid-tile>
            ou
          </md-grid-tile>
          <md-grid-tile>
            u
          </md-grid-tile>
          <md-grid-tile>
            ua
          </md-grid-tile>
          <md-grid-tile>
            uai
          </md-grid-tile>
          <md-grid-tile>
            uan
          </md-grid-tile>
          <md-grid-tile>
            uang
          </md-grid-tile>
          <md-grid-tile>
            uei
          </md-grid-tile>
          <md-grid-tile>
            uen
          </md-grid-tile>
          <md-grid-tile>
            ueng
          </md-grid-tile>
          <md-grid-tile>
            uo
          </md-grid-tile>
          <md-grid-tile>
            ü
          </md-grid-tile>
          <md-grid-tile>
            üan
          </md-grid-tile>
          <md-grid-tile>
            üe
          </md-grid-tile>
          <md-grid-tile>
            ün
          </md-grid-tile>
        </md-grid-list>
    </md-tab>
  </md-tab-group>
  <div class="align-center">
    <button md-raised-button [routerLink]="['/']" color="accent" >
          <i class="material-icons">keyboard_arrow_left</i> Home
      </button>
      <button md-raised-button [routerLink]="['/']" class="btn-success" >
          <i class="material-icons">home</i>
      </button>
      <button md-raised-button [routerLink]="['/lesson002']" color="primary" >
          <i class="material-icons">keyboard_arrow_right</i> Lesson 2
      </button>
  </div>
</md-card>
